@font-face {
  font-family: Trebuchet;
  src: url("../../assets/fonts/trebuc.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Trebuchet;
  src: url("../../assets/fonts/trebucbd.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Trebuchet;
  src: url("../../assets/fonts/trebucbi.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Trebuchet;
  src: url("../../assets/fonts/trebucit.ttf");
  font-weight: normal;
  font-style: italic;
}

// 

@font-face {
  font-family: AirbnbCereal;
  src: url("../../assets/fonts/AirbnbCerealLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AirbnbCereal;
  src: url("../../assets/fonts/AirbnbCerealBold.ttf");
  font-weight: bold;
  font-style: normal;
}

// @font-face {
//   font-family: AirbnbCereal;
//   src: url("../../assets/fonts/AirbnbCerealLight.ttf");
//   font-weight: lighter;
//   font-style: normal;
// }

// @font-face {
//   font-family: AirbnbCereal;
//   src: url("../../assets/fonts/AirbnbCerealExtraBold.ttf");
//   font-weight: bolder;
//   font-style: normal;
// }

// @font-face {
//   font-family: AirbnbCerealBlack;
//   src: url("../../assets/fonts/AirbnbCerealBlack.ttf");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: AirbnbCerealBook;
//   src: url("../../assets/fonts/AirbnbCerealBook.ttf");
//   font-weight: normal;
//   font-style: normal;
// }


